<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            background-color: #063c4a;
        }
    </style>
</head>
<body>
    <div style="color:white;">Welcome!@Model.userName</div>
    <div style="margin-top:10px;">
        <a href="/sign/up" style="color:#fff; text-decoration:none; border:1px solid #fff; padding:5px;">sign up</a>
        <a href="/sign/in" style="color:#fff; text-decoration:none;border:1px solid #fff; padding:5px;">sign in</a>
        <a href="/sign/out" style="color:#fff; text-decoration:none;border:1px solid #fff; padding:5px;">sign out</a>
    </div>
</body>
</html>
