<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body ng-app="home">
    <div ng-controller="user">{{user.username}}</div>
    <div>

    </div>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/jsmodule.js"></script>
</body>
</html>
