<!DOCTYPE html>
<html>
<head>
    <title>sign in</title>
    <style type="text/css">
        body {
            background-color: #063c4a;
        }
    </style>
</head>
<body>
    <form action="/sign/in" method="post">
        <div style="color:#fff;">
            <input type="text" name="username" value="nicat" />
        </div>
        <div style="color:#fff;">
            <input type="text" name="password" value="nicat" />
        </div>
        <div style="color:#fff;">
           <input type="submit" value="sign in"/>
        </div>
    </form>
</body>
</html>
